.wonderful{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    .wonderful__center{
        width: 70%;
        height: inherit;
        .myWonderful{
            background-color:#ef3b51 ;
            padding: 20px;
            border-radius: 20px;
            .active{
            background-color:#ef3b51 ;
        }
        .change__myWonderful__swiper__slide{
            display: flex;
            flex-flow: column wrap;
            .change__myWonderful__swiper__slide__top svg{
                width:92px;
                height: 77px;
            }
            .change__myWonderful__swiper__slide__center img{
                width:115px;
                height: 105px;
                object-fit: contain;
            }
            .change__myWonderful__swiper__slide__bottom{
                & a{
                    display: flex;
                flex-flow: row wrap;
                align-items: center;
                text-decoration: none;
                font-size: 14px;
                color: whitesmoke;    
                }
                & svg{
                    & g{
                        fill: whitesmoke;
                    }
                }
                
            }
            .change__myWonderful__swiper__slide__image{
                margin-bottom: 10px;
                & img{
                    width: 100px;
                    height: 100px;
                }
            }
            .change__myWonderful__swiper__slide__discount{
                display: flex;
                flex-flow: row-reverse wrap;
                justify-content: space-between;
                & div:nth-child(1){
                    font-family: var(--font-family-HOMA);
                    font-size: 12px;
                    font-weight: bold;
                }
                 & div:nth-child(2){
                    font-family: var(--font-family-HOMA);
                    font-size: 12px;
                    font-weight: bold;
                    width: fit-content;
                    border-radius: 5px;
                    padding: 0 5px;
                    background-color: crimson;
                }
            }
            .change__myWonderful__swiper__slide__price{
                font-family: var(--font-family-HOMA);
                width: 100%;
                text-align: left;
                padding-left: 5px;
                text-decoration: line-through;
                font-size: 14px;
                margin-top: 10px;
            }
        }
        }
        
    }
}